#include "keys_ru.h"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    behaviors {
        hml: home_row_mod_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <150>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 25 26 27 28 29 33 34 35>;
            hold-trigger-on-release;
        };

        hmr: home_row_mod_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <150>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 30 31 32>;
            hold-trigger-on-release;
        };

        ctrl_1: ctrl_1 {
            compatible = "zmk,behavior-tap-dance";
            label = "CTRL_1";
            #binding-cells = <0>;
            bindings = <&kp N1>, <&ctrl_one>;
        };

        ctrl_2: ctrl_2 {
            compatible = "zmk,behavior-tap-dance";
            label = "CTRL_2";
            #binding-cells = <0>;
            bindings = <&kp N2>, <&ctrl_two>;
        };

        ctrl_3: ctrl_3 {
            compatible = "zmk,behavior-tap-dance";
            label = "CTRL_3";
            #binding-cells = <0>;
            bindings = <&kp N3>, <&ctrl_three>;
        };

        ctrl_4: ctrl_4 {
            compatible = "zmk,behavior-tap-dance";
            label = "CTRL_4";
            #binding-cells = <0>;
            bindings = <&kp N4>, <&ctrl_four>;
        };

        ctrl_5: ctrl_5 {
            compatible = "zmk,behavior-tap-dance";
            label = "CTRL_5";
            #binding-cells = <0>;
            bindings = <&kp N5>, <&ctrl_five>;
        };

        ctrl_6: ctrl_6 {
            compatible = "zmk,behavior-tap-dance";
            label = "CTRL_6";
            #binding-cells = <0>;
            bindings = <&kp N6>, <&ctrl_six>;
        };

        ctrl_7: ctrl_7 {
            compatible = "zmk,behavior-tap-dance";
            label = "CTRL_7";
            #binding-cells = <0>;
            bindings = <&kp N7>, <&ctrl_seven>;
        };

        ctrl_8: ctrl_8 {
            compatible = "zmk,behavior-tap-dance";
            label = "CTRL_8";
            #binding-cells = <0>;
            bindings = <&kp N8>, <&ctrl_eight>;
        };

        ctrl_9: ctrl_9 {
            compatible = "zmk,behavior-tap-dance";
            label = "CTRL_9";
            #binding-cells = <0>;
            bindings = <&kp N9>, <&ctrl_nine>;
        };

        ctrl_0: ctrl_0 {
            compatible = "zmk,behavior-tap-dance";
            label = "CTRL_0";
            #binding-cells = <0>;
            bindings = <&kp N0>, <&ctrl_zero>;
        };

        space_en: space_en {
            compatible = "zmk,behavior-tap-dance";
            label = "SPACE_EN";
            #binding-cells = <0>;
            bindings = <&kp SPACE>, <&space_comma_en>, <&space_dot_en>;
        };

        space_ru: space_ru {
            compatible = "zmk,behavior-tap-dance";
            label = "SPACE_RU";
            #binding-cells = <0>;
            bindings = <&kp SPACE>, <&space_comma_ru>, <&space_dot_ru>;
        };

        b_en_curly_brackets: b_en_curly_brackets {
            compatible = "zmk,behavior-tap-dance";
            label = "B_EN_CURLY_BRACKETS";
            #binding-cells = <0>;
            bindings = <&kp LEFT_BRACE>, <&kp RIGHT_BRACE>;
        };

        b_en_brackets: b_en_brackets {
            compatible = "zmk,behavior-tap-dance";
            label = "B_EN_BRACKETS";
            #binding-cells = <0>;
            bindings = <&m_en_bracket_open>, <&m_en_bracket_close>;
        };

        b_en_parentness: b_en_parentness {
            compatible = "zmk,behavior-tap-dance";
            label = "B_EN_PARENTNESS";
            #binding-cells = <0>;
            bindings = <&kp LPAR>, <&kp RPAR>;
        };

        b_en_less_grater: b_en_less_grater {
            compatible = "zmk,behavior-tap-dance";
            label = "B_EN_LESS_GRATER";
            #binding-cells = <0>;
            bindings = <&kp LT>, <&kp GT>;
        };

        b_tilde_apos: b_tilde_apos {
            compatible = "zmk,behavior-tap-dance";
            label = "B_TILDE_APOS";
            #binding-cells = <0>;
            bindings = <&m_tilde>, <&m_apos>;
        };

        b_hash_numero: b_hash_numero {
            compatible = "zmk,behavior-tap-dance";
            label = "B_HASH_NUMERO";
            #binding-cells = <0>;
            bindings = <&m_en_hash>, <&m_ru_numero>;
        };

        b_ru_curly_brackets: b_ru_curly_brackets {
            compatible = "zmk,behavior-tap-dance";
            label = "B_RU_CURLY_BRACKETS";
            #binding-cells = <0>;
            bindings = <&m_en_curly_bracket_open>, <&m_en_curly_bracket_close>;
        };
    };

    combos {
        compatible = "zmk,combos";

        switch_to_en {
            bindings = <&to_en>;
            key-positions = <2 3>;
            layers = <1>;
        };

        switch_to_ru {
            bindings = <&to_ru>;
            key-positions = <2 3>;
            layers = <0>;
        };
    };

    macros {
        parentness: parentness {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LPAR &kp RPAR &kp LEFT>;
            label = "PARENTNESS";
        };

        brackets: brackets {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_BRACKET &kp RIGHT_BRACKET &kp LEFT_ARROW>;
            label = "BRACKETS";
        };

        curly_brackets: curly_brackets {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_BRACE &kp RIGHT_BRACE &kp LEFT>;
            label = "CURLY_BRACKETS";
        };

        function: function {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp F &kp U &kp N &kp C &kp T &kp I &kp O &kp N &kp SPACE &kp LPAR &kp RPAR &kp SPACE &kp LBRC &kp RET &kp LEFT_ARROW &kp LEFT &kp LEFT &kp LEFT &kp LEFT &kp LEFT>;
            label = "FUNCTION";
        };

        ctrl_one: ctrl_one {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LCTRL &kp N1>;
            label = "CTRL_ONE";
        };

        ctrl_two: ctrl_two {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LCTRL &kp NUMBER_2>;
            label = "CTRL_TWO";
        };

        ctrl_three: ctrl_three {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LCTRL &kp NUMBER_3>;
            label = "CTRL_THREE";
        };

        ctrl_four: ctrl_four {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LCTRL &kp NUMBER_4>;
            label = "CTRL_FOUR";
        };

        ctrl_five: ctrl_five {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LCTRL &kp N5>;
            label = "CTRL_FIVE";
        };

        ctrl_six: ctrl_six {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LCTRL &kp N6>;
            label = "CTRL_SIX";
        };

        ctrl_seven: ctrl_seven {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LCTRL &kp N7>;
            label = "CTRL_SEVEN";
        };

        ctrl_eight: ctrl_eight {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LCTRL &kp N8>;
            label = "CTRL_EIGHT";
        };

        ctrl_nine: ctrl_nine {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LCTRL &kp N9>;
            label = "CTRL_NINE";
        };

        ctrl_zero: ctrl_zero {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LCTRL &kp N0>;
            label = "CTRL_ZERO";
        };

        space_comma_en: space_comma_en {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp COMMA &kp SPACE>;
            label = "SPACE_COMMA_EN";
        };

        space_dot_en: space_dot_en {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp DOT &kp SPACE>;
            label = "SPACE_DOT_EN";
        };

        space_comma_ru: space_comma_ru {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RU_COMMA &kp SPACE>;
            label = "SPACE_COMMA_RU";
        };

        space_dot_ru: space_dot_ru {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RU_DOT &kp SPACE>;
            label = "SPACE_DOT_RU";
        };

        to_en: to_en {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LS(LALT)>,
                <&macro_wait_time 50>,
                <&kp LC(SPACE)>,
                <&macro_wait_time 50>,
                <&to 0>;

            label = "TO_EN";
        };

        to_ru: to_ru {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LS(LALT)>,
                <&macro_wait_time 50>,
                <&kp LC(SPACE)>,
                <&macro_wait_time 50>,
                <&to 1>;

            label = "TO_RU";
        };

        m_single_quote: m_single_quote {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&sl 0 &kp APOSTROPHE>;
            label = "M_SINGLE_QUOTE";
        };

        m_double_quote: m_double_quote {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&sl 0 &kp DOUBLE_QUOTES>;
            label = "M_DOUBLE_QUOTE";
        };

        m_en_curly_bracket_open: ru_curly_brackets {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&sl 0 &kp LEFT_BRACE>;
            label = "RU_CURLY_BRACKETS";
        };

        m_en_curly_bracket_close: m_en_curly_bracket_close {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&sl 0 &kp RIGHT_BRACE>;
            label = "M_EN_CURLY_BRACKET_CLOSE";
        };

        m_en_bracket_open: ru_bracket_open {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&sl 0 &kp LEFT_BRACKET>;
            label = "RU_BRACKET_OPEN";
        };

        m_en_bracket_close: ru_bracket_close {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&sl 0 &kp RIGHT_BRACKET>;
            label = "RU_BRACKET_CLOSE";
        };

        m_tilde: m_tilde {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&sl 0 &kp TILDE>;
            label = "M_TILDE";
        };

        m_apos: m_apos {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&sl 0 &kp APOSTROPHE>;
            label = "M_APOS";
        };

        m_en_hash: m_en_hash {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&sl 0 &kp HASH>;
            label = "M_EN_HASH";
        };

        m_ru_numero: m_ru_numero {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&sl 1 &kp RU_NUMERO>;
            label = "M_RU_NUMERO";
        };

        m_at: m_at {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&sl 0 &kp AT_SIGN>;
            label = "M_AT";
        };

        m_amp: m_amp {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&sl 0 &kp AMPERSAND>;
            label = "M_AMP";
        };

        m_caret: m_caret {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&sl 0 &kp CARET>;
            label = "M_CARET";
        };

        m_dollar: m_dollar {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&sl 0 &kp DOLLAR>;
            label = "M_DOLLAR";
        };

        m_pipe: m_pipe {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&sl 0 &kp PIPE>;
            label = "M_PIPE";
        };

        ru_m_double_quote: ru_m_double_quote {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to 0 &kp APOSTROPHE &to 1>;
            label = "RU_M_DOUBLE_QUOTE";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        en_layout {
            bindings = <
  &kp Q        &kp W         &kp E              &kp R            &kp T                                &kp Y  &kp U            &kp I         &kp O         &kp P
  &hml LGUI A  &hml LCTRL S  &hml LEFT_SHIFT D  &hml LALT F      &kp G                                &kp H  &hmr LEFT_ALT J  &hmr LSHFT K  &hmr LCTRL L  &hmr LGUI LEFT_GUI
  &kp Z        &kp X         &kp C              &kp V            &mt ESC B                            &kp N  &kp M            &none         &none         &none
                                                &lt 4 BACKSPACE  &mo 2      &space_en    &lt 6 ENTER  &mo 5  &kp TAB
            >;

            display-name = "en_layout";
        };

        ru_layout {
            display-name = "ru_layout";
            bindings = <
  &kp RU_CYRILLIC_SHORT_I   &kp RU_CYRILLIC_TSE          &kp RU_CYRILLIC_U           &kp RU_CYRILLIC_KA           &mt RU_CYRILLIC_IO RU_CYRILLIC_IE                            &kp RU_CYRILLIC_EN  &mt RU_CYRILLIC_HA RU_CYRILLIC_GHE               &kp RU_CYRILLIC_SHA        &kp RU_CYRILLIC_SHCHA     &kp RU_CYRILLIC_ZE
  &hml LGUI RU_CYRILLIC_EF  &hml LCTRL RU_CYRILLIC_YERU  &hml LSHIFT RU_CYRILLIC_VE  &hml LEFT_ALT RU_CYRILLIC_A  &kp RU_CYRILLIC_PE                                           &kp RU_CYRILLIC_ER  &hmr LEFT_ALT RU_CYRILLIC_O                      &hmr LSHFT RU_CYRILLIC_EL  &mt LCTRL RU_CYRILLIC_DE  &mt LGUI RU_CYRILLIC_ZHE
  &kp RU_CYRILLIC_YA        &kp RU_CYRILLIC_CHE          &kp RU_CYRILLIC_ES          &kp RU_CYRILLIC_EM           &mt ESC RU_CYRILLIC_I                                        &kp RU_CYRILLIC_TE  &mt RU_CYRILLIC_HARD_SIGN RU_CYRILLIC_SOFT_SIGN  &kp RU_CYRILLIC_BE         &kp RU_CYRILLIC_YU        &kp RU_CYRILLIC_E
                                                                                     &lt 4 BACKSPACE              &mo 3                              &space_ru    &lt 6 ENTER  &mo 5               &kp TAB
            >;
        };

        symbols_en {
            bindings = <
  &kp UNDER  &kp EXCL          &kp AT_SIGN     &b_hash_numero        &kp DOLLAR                         &kp PRCNT  &kp CARET  &kp AMPERSAND  &kp ASTRK        &none
  &none      &b_en_parentness  &b_en_brackets  &b_en_curly_brackets  &b_en_less_grater                  &kp PLUS   &kp MINUS  &kp EQUAL      &kp QMARK        &kp PIPE
  &none      &kp SEMI          &kp COLON       &b_tilde_apos         &kp BSLH                           &kp FSLH   &kp DOT    &kp COMMA      &m_double_quote  &m_single_quote
                                               &none                 &none              &none    &none  &none      &none
            >;
        };

        symbols_ru {
            bindings = <
  &kp RU_UNDERSCORE  &kp EXCL          &m_at           &b_hash_numero        &m_dollar                          &kp PRCNT     &m_caret    &m_amp        &kp ASTRK        &none
  &none              &b_en_parentness  &b_en_brackets  &b_ru_curly_brackets  &b_en_less_grater                  &kp PLUS      &kp MINUS   &kp EQUAL     &kp RU_QUESTION  &m_pipe
  &none              &kp RU_SEMI       &kp RU_COLON    &b_tilde_apos         &kp RU_BACKSLASH                   &kp RU_SLASH  &kp RU_DOT  &kp RU_COMMA  &m_double_quote  &m_single_quote
                                                       &none                 &none              &none    &none  &none         &none
            >;
        };

        nums_and_fns {
            bindings = <
  &kp HOME       &ctrl_1  &ctrl_2  &ctrl_3  &kp END                        &kp F1   &kp F2   &kp F3         &kp F4  &kp F5
  &mt LGUI LCMD  &ctrl_4  &ctrl_5  &ctrl_6  &ctrl_0                        &kp F6   &kp F7   &mt LSHIFT F8  &kp F9  &mt F10 LGUI
  &kp PAGE_DOWN  &ctrl_7  &ctrl_8  &ctrl_9  &mt ESC PG_UP                  &kp F11  &kp F12  &none          &none   &none
                                   &none    &none          &none    &none  &none    &none
            >;
        };

        navigation_media {
            bindings = <
  &none  &kp C_PREV  &kp C_PLAY_PAUSE     &kp C_NEXT    &none                        &none  &kp PRINTSCREEN  &kp UP    &none      &none
  &none  &kp C_MUTE  &mt LSHIFT C_VOL_DN  &kp C_VOL_UP  &none                        &none  &kp LEFT         &kp DOWN  &kp RIGHT  &none
  &none  &none       &none                &none         &kp ESC                      &none  &kp HOME         &none     &kp END    &none
                                          &none         &none    &kp SPACE    &none  &none  &none
            >;
        };

        macro_bt {
            bindings = <
  &bt BT_CLR  &none        &none      &none                 &none                  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
  &none       &parentness  &brackets  &b_en_curly_brackets  &none                  &none         &function     &none         &none         &none
  &none       &none        &none      &none                 &none                  &none         &none         &none         &out OUT_USB  &out OUT_BLE
                                      &none                 &none  &none    &none  &none         &none
            >;
        };

        adj {
            bindings = <
  &bootloader  &kp F1  &kp F2   &kp F3   &kp F4                     &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_CLR
  &kp LGUI     &none   &none    &none    &kp F8                     &out OUT_BLE  &none         &none         &none         &kp RGUI
  &kp N1       &kp F9  &kp F10  &kp F11  &kp F12                    &out OUT_USB  &kp C_PREV    &kp C_PP      &kp C_NEXT    &studio_unlock
                                &trans   &trans   &trans    &trans  &trans        &trans
            >;

            display-name = "Adjust";
        };
    };
};
