#include "keys_ru.h"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    behaviors {
        hml: home_row_mod_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <150>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 25 26 27 28 29 33 34 35>;
            hold-trigger-on-release;
        };

        hmr: home_row_mod_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <150>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 30 31 32>;
            hold-trigger-on-release;
        };

        ctrl_1: ctrl_1 {
            compatible = "zmk,behavior-tap-dance";
            label = "CTRL_1";
            #binding-cells = <0>;
            bindings = <&kp N1>, <&ctrl_one>;
        };

        ctrl_2: ctrl_2 {
            compatible = "zmk,behavior-tap-dance";
            label = "CTRL_2";
            #binding-cells = <0>;
            bindings = <&kp N2>, <&ctrl_two>;
        };

        ctrl_3: ctrl_3 {
            compatible = "zmk,behavior-tap-dance";
            label = "CTRL_3";
            #binding-cells = <0>;
            bindings = <&kp N3>, <&ctrl_three>;
        };

        ctrl_4: ctrl_4 {
            compatible = "zmk,behavior-tap-dance";
            label = "CTRL_4";
            #binding-cells = <0>;
            bindings = <&kp N4>, <&ctrl_four>;
        };

        ctrl_5: ctrl_5 {
            compatible = "zmk,behavior-tap-dance";
            label = "CTRL_5";
            #binding-cells = <0>;
            bindings = <&kp N5>, <&ctrl_five>;
        };

        ctrl_6: ctrl_6 {
            compatible = "zmk,behavior-tap-dance";
            label = "CTRL_6";
            #binding-cells = <0>;
            bindings = <&kp N6>, <&ctrl_six>;
        };

        ctrl_7: ctrl_7 {
            compatible = "zmk,behavior-tap-dance";
            label = "CTRL_7";
            #binding-cells = <0>;
            bindings = <&kp N7>, <&ctrl_seven>;
        };

        ctrl_8: ctrl_8 {
            compatible = "zmk,behavior-tap-dance";
            label = "CTRL_8";
            #binding-cells = <0>;
            bindings = <&kp N8>, <&ctrl_eight>;
        };

        ctrl_9: ctrl_9 {
            compatible = "zmk,behavior-tap-dance";
            label = "CTRL_9";
            #binding-cells = <0>;
            bindings = <&kp N9>, <&ctrl_nine>;
        };

        ctrl_0: ctrl_0 {
            compatible = "zmk,behavior-tap-dance";
            label = "CTRL_0";
            #binding-cells = <0>;
            bindings = <&kp N0>, <&ctrl_zero>;
        };

        space_en: space_en {
            compatible = "zmk,behavior-tap-dance";
            label = "SPACE_EN";
            #binding-cells = <0>;
            bindings = <&kp SPACE>, <&space_comma_en>, <&space_dot_en>;
        };

        space_ru: space_ru {
            compatible = "zmk,behavior-tap-dance";
            label = "SPACE_RU";
            #binding-cells = <0>;
            bindings = <&kp SPACE>, <&space_comma_ru>, <&space_dot_ru>;
        };
    };

    combos {
        compatible = "zmk,combos";

        kha {
            bindings = <&kp LBKT>;
            key-positions = <6 7>;
        };

        hrdsgn {
            bindings = <&kp RBKT>;
            key-positions = <7 8>;
        };
    };

    macros {
        parentness: parentness {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LPAR &kp RPAR &kp LEFT>;
            label = "PARENTNESS";
        };

        brackets: brackets {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_BRACKET &kp RIGHT_BRACKET &kp LEFT_ARROW>;
            label = "BRACKETS";
        };

        curly_brackets: curly_brackets {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_BRACE &kp RIGHT_BRACE &kp LEFT>;
            label = "CURLY_BRACKETS";
        };

        function: function {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp F &kp U &kp N &kp C &kp T &kp I &kp O &kp N &kp SPACE &kp LPAR &kp RPAR &kp SPACE &kp LBRC &kp RET &kp LEFT_ARROW &kp LEFT &kp LEFT &kp LEFT &kp LEFT &kp LEFT>;
            label = "FUNCTION";
        };

        ctrl_one: ctrl_one {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LCTRL &kp N1>;
            label = "CTRL_ONE";
        };

        ctrl_two: ctrl_two {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LCTRL &kp NUMBER_2>;
            label = "CTRL_TWO";
        };

        ctrl_three: ctrl_three {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LCTRL &kp NUMBER_3>;
            label = "CTRL_THREE";
        };

        ctrl_four: ctrl_four {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LCTRL &kp NUMBER_4>;
            label = "CTRL_FOUR";
        };

        ctrl_five: ctrl_five {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LCTRL &kp N5>;
            label = "CTRL_FIVE";
        };

        ctrl_six: ctrl_six {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LCTRL &kp N6>;
            label = "CTRL_SIX";
        };

        ctrl_seven: ctrl_seven {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LCTRL &kp N7>;
            label = "CTRL_SEVEN";
        };

        ctrl_eight: ctrl_eight {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LCTRL &kp N8>;
            label = "CTRL_EIGHT";
        };

        ctrl_nine: ctrl_nine {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LCTRL &kp N9>;
            label = "CTRL_NINE";
        };

        ctrl_zero: ctrl_zero {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LCTRL &kp N0>;
            label = "CTRL_ZERO";
        };

        space_comma_en: space_comma_en {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SPACE &kp COMMA>;
            label = "SPACE_COMMA_EN";
        };

        space_dot_en: space_dot_en {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SPACE &kp DOT>;
            label = "SPACE_DOT_EN";
        };

        space_comma_ru: space_comma_ru {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SPACE &kp RU_COMMA>;
            label = "SPACE_COMMA_RU";
        };

        space_dot_ru: space_dot_ru {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SPACE &kp RU_DOT>;
            label = "SPACE_DOT_RU";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_en {
            bindings = <
  &kp Q        &kp W         &kp E              &kp R            &kp T                                &kp Y  &kp U            &kp I         &kp O         &kp P
  &hml LGUI A  &hml LCTRL S  &hml LEFT_SHIFT D  &hml LALT F      &kp G                                &kp H  &hmr LEFT_ALT J  &hmr LSHFT K  &hmr LCTRL L  &hmr LGUI ESCAPE
  &kp Z        &kp X         &kp C              &kp V            &mt ESC B                            &kp N  &kp M            &none         &none         &none
                                                &lt 4 BACKSPACE  &mo 2      &space_en    &lt 6 ENTER  &mo 5  &kp TAB
            >;

            display-name = "Base";
        };

        base_ru {
            display-name = "Base";
            bindings = <
  &kp RU_CYRILLIC_SHORT_I   &kp RU_CYRILLIC_TSE          &kp RU_CYRILLIC_U           &kp RU_CYRILLIC_KA           &mt RU_CYRILLIC_IO RU_CYRILLIC_IE                            &kp RU_CYRILLIC_EN  &mt RU_CYRILLIC_GHE RU_CYRILLIC_HA               &kp RU_CYRILLIC_SHA        &kp RU_CYRILLIC_SHCHA     &kp RU_CYRILLIC_ZE
  &hml LGUI RU_CYRILLIC_EF  &hml LCTRL RU_CYRILLIC_YERU  &hml LSHIFT RU_CYRILLIC_VE  &hml LEFT_ALT RU_CYRILLIC_A  &kp RU_CYRILLIC_PE                                           &kp RU_CYRILLIC_ER  &hmr LEFT_ALT RU_CYRILLIC_O                      &hmr LSHFT RU_CYRILLIC_EL  &mt LCTRL RU_CYRILLIC_DE  &mt LGUI RU_CYRILLIC_ZHE
  &kp RU_CYRILLIC_YA        &kp RU_CYRILLIC_CHE          &kp RU_CYRILLIC_ES          &kp RU_CYRILLIC_EM           &mt ESC RU_CYRILLIC_I                                        &kp RU_CYRILLIC_TE  &mt RU_CYRILLIC_HARD_SIGN RU_CYRILLIC_SOFT_SIGN  &kp RU_CYRILLIC_BE         &kp RU_CYRILLIC_YU        &kp RU_CYRILLIC_E
                                                                                     &lt 4 BACKSPACE              &mo 3                              &space_ru    &lt 6 ENTER  &mo 5               &kp TAB
            >;
        };

        symbols_en {
            bindings = <
  &trans  &kp EXCL       &kp AT_SIGN                     &mt RU_NUMERO HASH          &kp DOLLAR                                    &kp PRCNT  &kp CARET  &kp AMPERSAND  &kp ASTRK             &trans
  &trans  &mt RPAR LPAR  &mt RIGHT_BRACKET LEFT_BRACKET  &mt RIGHT_BRACE LEFT_BRACE  &mt GREATER_THAN LESS_THAN                    &kp PLUS   &kp MINUS  &kp EQUAL      &kp QMARK             &kp PIPE
  &trans  &kp SEMI       &kp COLON                       &mt GRAVE TILDE             &kp NUBS                                      &kp FSLH   &kp DOT    &kp COMMA      &mt SINGLE_QUOTE DQT  &trans
                                                         &trans                      &trans                      &trans    &trans  &trans     &trans
            >;
        };

        symbols_ru {
            bindings = <
  &trans  &kp EXCL       &kp AT_SIGN                     &mt RU_NUMERO HASH          &kp DOLLAR                                    &kp PRCNT     &kp CARET   &kp AMPERSAND  &kp ASTRK             &trans
  &trans  &mt RPAR LPAR  &mt RIGHT_BRACKET LEFT_BRACKET  &mt RIGHT_BRACE LEFT_BRACE  &mt GREATER_THAN LESS_THAN                    &kp PLUS      &kp MINUS   &kp EQUAL      &kp QMARK             &kp PIPE
  &trans  &kp RU_SEMI    &kp RU_COLON                    &mt GRAVE TILDE             &kp RU_BACKSLASH                              &kp RU_SLASH  &kp RU_DOT  &kp RU_COMMA   &mt SINGLE_QUOTE DQT  &trans
                                                         &trans                      &trans                      &trans    &trans  &trans        &trans
            >;
        };

        nums_and_fns {
            bindings = <
  &kp PG_UP      &ctrl_1  &ctrl_2  &ctrl_3  &kp HOME                       &kp F1   &kp F2   &kp F3         &kp F4  &kp F5
  &mt LGUI N6    &ctrl_4  &ctrl_5  &ctrl_6  &ctrl_0                        &kp F6   &kp F7   &mt LSHIFT F8  &kp F9  &mt F10 LGUI
  &kp PAGE_DOWN  &ctrl_7  &ctrl_8  &ctrl_9  &mt ESC END                    &kp F11  &kp F12  &trans         &trans  &trans
                                   &trans   &trans       &trans    &trans  &trans   &trans
            >;
        };

        navigation_media {
            bindings = <
  &trans  &kp C_PREV  &kp C_PLAY_PAUSE     &kp C_NEXT    &trans                        &trans  &kp PRINTSCREEN  &kp UP    &trans     &trans
  &trans  &kp C_MUTE  &mt LSHIFT C_VOL_DN  &kp C_VOL_UP  &trans                        &trans  &kp LEFT         &kp DOWN  &kp RIGHT  &trans
  &trans  &trans      &trans               &trans        &kp ESC                       &trans  &trans           &trans    &trans     &trans
                                           &trans        &trans   &kp SPACE    &trans  &trans  &trans
            >;
        };

        macro_bt {
            bindings = <
  &bt BT_CLR  &trans       &trans     &trans           &trans                    &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
  &trans      &parentness  &brackets  &curly_brackets  &trans                    &trans        &function     &trans        &trans        &trans
  &trans      &trans       &trans     &trans           &trans                    &trans        &trans        &trans        &trans        &trans
                                      &trans           &trans  &trans    &trans  &trans        &trans
            >;
        };

        sym {
            bindings = <
  &none     &kp LT    &kp EQUAL  &kp GT    &kp GRAVE                    &kp CARET  &kp LBKT  &kp UNDER  &kp RBKT  &none
  &none     &none     &none      &none     &kp PLUS                     &kp PRCNT  &none     &none      &none     &none
  &kp HASH  &kp STAR  &kp COLON  &kp FSLH  &none                        &none      &kp PIPE  &kp TILDE  &kp AMPS  &kp DLLR
                                 &trans    &mo 9      &trans    &trans  &trans     &trans
            >;

            display-name = "Symbols";
        };

        nav {
            bindings = <
  &kp N1  &kp N2    &kp N3     &kp N4     &kp N5                        &kp N6           &kp N7  &kp N8     &kp N9     &kp N0
  &none   &kp LALT  &kp LSHFT  &kp LCTRL  &kp ENTER                     &kp PRINTSCREEN  &none   &none      &none      &none
  &none   &kp HOME  &kp INS    &kp END    &kp DELETE                    &kp CAPS         &none   &kp PG_DN  &kp PG_UP  &none
                               &trans     &trans      &trans    &trans  &mo 9            &trans
            >;

            display-name = "Nav";
        };

        adj {
            bindings = <
  &bootloader  &kp F1  &kp F2   &kp F3   &kp F4                     &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_CLR
  &kp LGUI     &none   &none    &none    &kp F8                     &out OUT_BLE  &none         &none         &none         &kp RGUI
  &none        &kp F9  &kp F10  &kp F11  &kp F12                    &out OUT_USB  &kp C_PREV    &kp C_PP      &kp C_NEXT    &studio_unlock
                                &trans   &trans   &trans    &trans  &trans        &trans
            >;

            display-name = "Adjust";
        };
    };
};
